<html>
    <head>
        <title>News Sentiment Analyzer</title>
    </head>
    <body>
        <div>
            <h1>Sentiment Analysis for news about {{ subject }}</h1>
            <p>All headlines: {{ text }}</p>
            <p>Sentiment score: {{ score }}</p>
            <p>Sentiment magnitude: {{ magnitude }}</p>
        </div>
        <div>
            <h1>Entity Sentiment Analysis for news about {{ subject }}</h1>
            {% for entity in entities %}
                <div>
                    <p>Entity: {{ entity }}</p>
                    <p>Type: {{ entity_type }}</p>
                    <p>Sentiment score: {{ entity_score }}</p>
                    <p>Sentiment magnitude: {{ entity_magnitude }}</p>
                    <p>Salience score: {{ entity_salience }}</p>
                </div>
            {% endfor %}
        </div>
    </body>
</html>